
# NON-PIPELINE#
###############
.Rhistory
README_deprecated.md
notes.md

# TEST DATA#
############
input/**
test_results/
test_results.tar.gz

# STUDY DATA#
#############
okada_results/
okada_run_all.sh

# SCRIPTS#
##########
scripts/abf.R
scripts/visualisation_functions_v2.R

# SOURCE DATA#
##############
source_data/ensembl/**
source_data/roadmap_r9/**

